.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: 1rem;
}

input {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #FDFDFF;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: 1rem;
}

.article {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  padding: .5rem;
}

.article > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article h2 {
  margin: 0;
}

.tags {
  font-size: small;
  color: #C6C5B9;
}

.hide {
  display: none;
}

.ascii-code {
  font-size: 8px;
  color: #C6C5B9;
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.leetcode-link {
  color: #62929E;
}

.article-title {
  margin-bottom: .25rem;
}

.article-date {
  font-size: small;
  font-style: italic;
  margin-bottom: 2rem;
}

@media(min-width: 768px) {
  .ascii-code {
    font-size: x-small;
  }
}
