body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #393D3F;
}

.body-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 800px;
  margin-top: 5rem;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  color: #FDFDFF;
}

i {
  color: #C6C5B9;
}

.desktop-header {
  display: none;
}

.ascii-container {
  display: flex;
  justify-content: center;
}

.ascii-code {
  line-height: normal;
}

@media(min-width: 768px) {
  .body-container {
    flex-direction: row;
    width: 100%;
  }

  .desktop-header {
    display: flex;
    padding-top: 0;
    margin-top: 0;
    color: #FDFDFF;
  }
}
